@{
    ViewData["Title"] = "O projektu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Pojistné události</h1>
    <h4 class="text-primary">ASP.NET Core MVC</h4>
</div>
<br />
<h2 class="text-primary">Zadání</h2>
<ul>
    <li>Aplikace obsahuje kompletní správu (CRUD) pojištěných (např. "Jan Novák") a jejich pojištění (např. "pojištění bytu"):</li>
    <li>Vytvoření pojištěného</li>
    <li>Vytvoření pojištění</li>
    <li>Zobrazení detailu pojištěného včetně jeho pojištění</li>
    <li>Zobrazení detailu pojištění</li>
    <li>Zobrazení seznamu pojištěných</li>
    <li>Odstranění pojištěného včetně všech jeho pojištění</li>
    <li>Odstranění pojištění</li>
    <li>Editace pojištěného</li>
    <li>Editace pojištění pojištěného</li>
    <li>Dané entity jsou uloženy v SQL databázi</li>
    <li>Aplikace je naprogramována podle dobrých praktik a je plně responzivní</li>
</ul>
<h5 class="text-white">Rozšíření</h5>
<ul>
    <li>Aplikace podporuje uživatelské role (pojištěný, administrátor), návrh a implementace, kdo vidí a může editovat jaká data</li>
    <li>Aplikace eviduje pojistné události pojištěných, rovněž pomocí kompletní správy (CRUD)</li>
</ul>
<br />

<h2 class="text-primary">Použité zdroje</h2>
<ul>
    <li>
        Ikony <a href="https://fontawesome.com/v6.0/icons?s=solid%2Cbrands" target="_blank">FontAwesome</a>
    </li>
    <li>
        Bootstrap styling <a href="https://bootswatch.com/superhero/" target="_blank">Bootswatch</a>
    </li>
    <li>
        JavaScriptové hlášky <a href="https://codeseven.github.io/toastr/" target="_blank">Toastr</a>
    </li>
    <li>
        Vyskakovací okna <a href="https://sweetalert.js.org/">SweetAlert</a>
    </li>
    <li>
        Tabulky <a href="https://datatables.net/examples/index" target="_blank">DataTables</a>
    </li>
    <li>
        Textový (WYSIWYG) editor <a href="https://www.tiny.cloud" target="_blank">TinyMCE</a>
    </li>
    <li>
        Info k ASP.NET Core MVC <a href="https://www.udemy.com/course/complete-aspnet-core-21-course/" target="_blank">Udemy tutorial</a><br />
    </li>
</ul>
<br />

<h2 class="text-primary">Tvorba projektu</h2>
<p>Postup viz <a href="https://github.com/Virtualll001/PojistneUdalosti/commits/main" target="_blank">GitHub commits</a></p>
<br />


<h2 class="text-primary">Problémy</h2>
<strong class="text-danger">Nefunkční scaffolding na Controlleru</strong>
<br />
<ul>
    <li>Chybová hláška: <q>There was an error running the selected code generator: ‚Package restore failed.Rolling back package changes for...</q></li>
    <li>
        Kontrola a aktualizace všech NuGetů. (nepomohlo)
    </li>
    <li>
        Restart s vymaznáním souboru .vs (nepomohl)
    </li>
    <li>
        Přeinstalování nugetu: Microsoft.VisualStudio.Web.CodeGeneration.Design (nepomohlo)
    </li>
    <li>
        Vymazání Nuget Cache (nepomohlo)
    </li>
</ul>

<strong class="text-danger">Změna formátu DataTable</strong>
<br />
<ul>
    <li>Problémy s úpravou barev a úpravou jazkové verze textu</li>
    <li>
        Dočasné řešení = obejít se bez DataTables;
    </li>
</ul>

<strong class="text-danger">Chybové hlášky v AJ</strong>
<br />
<ul>
    <li>
        Nejdou mi přepsat frontendové validace do češtiny.
    </li>
    <li>
        Do češtiny jsem přeložila hlášky v souborech: jquery.validate.js; jquery.validate.min.js, ale na hlášky při tvorbě tabulek to nemá vliv...
    </li>
</ul>

<strong class="text-danger">Problémy s databází</strong>
<br />
<ul>
    <li>
        Chybová hláška: Your SQL Server installation is either corrupt or has been tampered with (Unable to load SQLBOOT.DLL)...
    </li>
</ul>

<strong class="text-muted">Problém s responzibilitou u delších tabulek</strong>
<br />
<ul>
    <li>Zobrazovat jen nejdůležitější data nebo zobrazit jiným typem tabulky...</li>
</ul>

<strong class="text-muted">Ajax errory</strong>
<br />
<ul>
    <li>Chybové hlášky: <q>DataTables warning: table id=tblData - Ajax error. For more information about this error, please see http://datatables.net/tn/7 </q></li>
    <li>
        Obvykle nalezena chyba v JS kódu...
    </li>
</ul>
<br />
<br />
<br />

