@{
    ViewData["Title"] = "Pojistné události";
}

<div class="text-center">
    <h1 class="display-4">Pojistné události</h1>
    <h4 class="text-primary">Aplikace ASP.NET Core MVC</h4>
</div>
<br />
<h5 class="text-primary">Zadání</h5>
<ul>
    <li>Aplikace obsahuje kompletní správu (CRUD) pojištěných (např. "Jan Novák") a jejich pojištění (např. "pojištění bytu"):</li>
    <li>Vytvoření pojištěného</li>
    <li>Vytvoření pojištění</li>
    <li>Zobrazení detailu pojištěného včetně jeho pojištění</li>
    <li>Zobrazení detailu pojištění</li>
    <li>Zobrazení seznamu pojištěných</li>
    <li>Odstranění pojištěného včetně všech jeho pojištění</li>
    <li>Odstranění pojištění</li>
    <li>Editace pojištěného</li>
    <li>Editace pojištění pojištěného</li>
    <li>Dané entity jsou uloženy v SQL databázi</li>
    <li>Aplikace je naprogramována podle dobrých praktik a je plně responzivní</li>
</ul>
<br />
<h5 class="text-primary">Rozšíření</h5>
<ul>
    <li>Aplikace podporuje uživatelské role (pojištěný, administrátor), návrh a implementace, kdo vidí a může editovat jaká data</li>
    <li>Aplikace eviduje pojistné události pojištěných, rovněž pomocí kompletní správy (CRUD)</li>
</ul>