@{
    ViewData["Title"] = "O projektu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-primary">Použité zdroje</h2>
<ul>
    <li>
        Ikony <a href="https://fontawesome.com/v6.0/icons?s=solid%2Cbrands" target="_blank">FontAwesome</a>
    </li>
    <li>
        Bootstrap styling <a href="https://bootswatch.com/superhero/" target="_blank">Bootswatch</a>
    </li>
    <li>
        JavaScriptové hlášky <a href="https://codeseven.github.io/toastr/" target="_blank">Toastr</a>
    </li>
    <li>
        Vyskakovací okna <a href="https://sweetalert.js.org/">SweetAlert</a>
    </li>
    <li>
        Tabulky <a href="https://datatables.net/examples/index" target="_blank">DataTables</a>
    </li>
    <li>
        Textový (WYSIWYG) editor <a href="https://www.tiny.cloud" target="_blank">TinyMCE</a>
    </li>
    <li>
        Info k ASP.NET Core MVC <a href="https://www.udemy.com/course/complete-aspnet-core-21-course/" target="_blank">Udemy tutorial</a><br />
    </li>
</ul>
<br />

<h2 class="text-primary">Problémy</h2>
<strong class="text-danger">Nefunkční scaffolding na Controlleru</strong>
<br />
<ul>
    <li>Chybová hláška: <q>There was an error running the selected code generator: ‚Package restore failed.Rolling back package changes for...</q></li>
    <li>
        Kontrola a aktualizace všech NuGetů. (nepomohlo)
    </li>
    <li>
        Restart s vymaznáním souboru .vs (nepomohl)
    </li>
    <li>
        Přeinstalování nugetu: Microsoft.VisualStudio.Web.CodeGeneration.Design (nepomohlo)
    </li>
    <li>
        Vymazání Nuget Cache (nepomohlo)
    </li>
</ul>

<strong class="text-danger">Změna formátu DataTable</strong>
<br />
<ul>
    <li>Problémy s úpravou barev a úpravou jazkové verze textu</li>
    <li>
        Dočasné řešení = obejít se bez DataTables;
    </li>
</ul>

<strong class="text-danger">Chybové hlášky v AJ</strong>
<br />
<ul>
    <li>Nevím jak změnit (přeložit do ČJ) client-side chybové hlášky</li>
    <li>
        "The Typ field is required." - není nikde v projektu...
    </li>
</ul>

<strong class="text-muted">Problém s responzibilitou u delších tabulek</strong>
<br />
<ul>
    <li>Zobrazovat jen nejdůležitější data nebo zobrazit jiným typem tabulky...</li>
</ul>

<strong class="text-muted">Ajax errory</strong>
<br />
<ul>
    <li>Chybové hlášky: <q>DataTables warning: table id=tblData - Ajax error. For more information about this error, please see http://datatables.net/tn/7 </q></li>
    <li>
        Obvykle nalezena chyba v JS kódu...
    </li>
</ul>
<br />

<h2 class="text-primary">Doučit se</h2>
<ul>
    <li>Areas</li>
    <li>Repository a UnitOfWork</li>
    <li>Dapper</li>
    <li>DataTables => JS, + úpravy barvy a textu</li>
    <li>Stored Procedures + SQL (DynamicParameters ?)</li>
</ul>
<br />
<br />
<p>Postup tvorby projektu viz <a href="https://github.com/Virtualll001/PojistneUdalosti/commits/main" target="_blank">GitHub commits</a>.</p>
<br />

